@{
    ViewBag.Title = "Sobre";
}

<div class="row py-4 px-5">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="200" height="315" src="https://www.youtube.com/embed/czhd1eHv6ac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-12 area-info p-3 mt-4">
        <h1>Objetivo</h1>
        <p class="pb-3">Esta plataforma existe com o objetivo de compartilhar, para download e consulta, os dados coletados nas estações meteorológicas desenvolvidas pela equipe para a disciplina de UPX - TIC para cidades inteligentes, dando enfase a escalabilidade de aplicação do projeto.</p>

        <h1>A Estação Meteorológica</h1>
        <p>A estação desenvolvida possibilita a coleta de dados relacionados a:</p>
        <p class="px-4">
            - Temperatura: Medição da temperatura ambiente através dos sensores DHT22 e DS18B20. <br />
            - Umidade: Medição da umidade do ar através do sensor DHT22.<br />
            - Velocidade do Vento: Medição através do anemômetro desenvolvido pela equipe utilizando o sensor óptico reflexivo TCRT5000 e impressão 3D.<br />
            - Ocorrência de Chuva: Medição através do sensor YL-83.<br />
        </p>
    </div>
</div>